<section id="CV">
    <div class="container cv_cnt">
    <div class="row">
        <div class="col-sm-4 cver">
            <h4>Looking for a Product Manager?</h4>
            <div class="card">
                <div style="overflow: hidden;">
                <img src="./../../asset/overly.png" >
                </div>
            <p class="dwn" style="color: #fff;"><a href="https://drive.google.com/drive/folders/1BD-ir0YGx5G92ueH8edhtCOb9g4a2Ck4?usp=sharing">Download</a><i class="material-icons ">download</i></p>
            </div>
        </div>
        <div class="col-sm-4 cver ">
            <h4>Looking for an AI guy?</h4>
            <div class="card">
                <img src="./../../asset/AI.png">
                <div >
                    <ul style="">
                    <li>TensorFlow </li>
                    <li> Chatbot </li>
                    <li> Classification</li></ul>
                </div>
            <p class="dwn"><a href="https://drive.google.com/drive/folders/1Bfhn2r-lKuYX7FRgxds_-qdDAhSg4-mq?usp=sharing">Download</a><i class="material-icons ">download</i></p>
            </div>
        </div>
        <div class="col-sm-4 cver">
            <h4>Looking for a Fullstack Web Developer?</h4>
            <div class="card">      <img src="./../../asset/webber.png">
                <div >
                    <ul style="">
                    <li>React</li>
                    <li>Django/Flask</li>
                    <li>PHP</li>
                    <li>Node.js</li>
                    <li>BS</li>
                </ul>
                </div>
            <p class="dwn"><a href="https://drive.google.com/drive/folders/1UcCGtA3n3o7cHnCVuDYbw9RISpvZJgJJ?usp=sharing">Download</a><i class="material-icons ">download</i></p>
           
                </div>
        </div>
    </div></div>

</section>
<style>
    .material-icons{
        position: relative;top: 5px;
    }
    @media(min-width: 1000px){
        .cv_cnt{
            min-width:1400px
        }
        .cver .card{
            width:440px
        }
 
  }
  @media(min-width: 300px){
            .cver .card ul{display: flex;margin-bottom: 50px;
} 
.cver .card li{margin-right: 15px;
}
  }
.cver .card .dwn{
    text-align: center;position: absolute;bottom: 0;left: 40%;padding:2px 12px 3px 12px;border-radius: 37px;background: var(--combo_color);color: #fff;
}
.cver h4{
   font-weight: 700;margin-top: 10px;margin-bottom: 15px;
}
</style>