
	<div id="nav">
		<header class="header container">
			<div class="logo">SAMUEL KEHINDE AYO</div>
			<!-- Menu on tablets and larger screens -->
			<nav class="top-nav">
				<ul>
					<li><a class="under-line" href="/">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="/project">Projects</a></li>
					<li><a href="#contacts">Get in touch</a></li>
					<li><a href="#CV" style="border-radius: 25px; border: 1px solid rgb(158, 7, 7);padding: 5px 9px;">Download My CV<i class="material-icons ">cloud_download</i></a></li>
				</ul>
			</nav>
			<!-- Menu on mobile screens -->
			<div class="mob-nav">
				<span class="fa fa-bars"></span>
		  </div>
		  <nav>
			<ul class="dropDN-menu">
				<li><a href="/">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="https://officialsamayo.medium.com">Articles</a></li>
				<li><a href="/proj.html">Projects</a></li>
				<li><a href="#contacts">Get in touch</a></li>
				<li><a href="#CV" style="border-radius: 25px; border: 1px solid rgb(158, 7, 7);padding: 5px 9px;">Download My CV<i class="material-icons ">cloud_download</i></a></li>
				
			</ul>
		</nav>

		</header>
	</div>