<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <title> Sam Ayo</title>
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://rawgit.com/belodpav/fontsRoboto/master/stylesheet.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/wrt.css">

</head>
<body>

	<div id="nav">
		<header class="header container">
			<div class="logo">SAMUEL KEHINDE AYO</div>
			<!-- Menu on tablets and larger screens -->
			<nav class="top-nav">
				<ul>
					<li><a class="under-line" href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#portfolio">Articles</a></li>
					<li><a href="#portfolio">Projects</a></li>
					<li><a href="#contacts">Get in touch</a></li>
				</ul>
			</nav>
			<!-- Menu on mobile screens -->
			<div class="mob-nav">
				<span class="fa fa-bars"></span>
		  </div>
			<nav>
				<ul class="dropDN-menu">
					<li><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contacts">Get in touch</a></li>
				</ul>
			</nav>

		</header>
	</div>
	<!-- Main -->
	<main role="main">
		<!-- Banner -->
		<section class="banner container" style="width:100vw">
			<div class="photo-banner">
				<img src="https://pbs.twimg.com/profile_images/1305789788491046912/ldUwvDPZ_400x400.jpg" alt="Sam Ayo" style="border-radius: 55px;">
			</div>
			<div class="descr-banner">
				<h1>Web Developer <span class="slash">|</span> AI Engineer</h1>
				<p>Evolving AI Engineer. Software engineer.<br>Innovator .STEM Educator.</p>
				<div class="conty come-in">
			 
					<section class="container">
					  
					  <p class="prompt">
						<span class="green">$ ProjectLife</span>
						<span class="yellow">(Venv)</span>
						<span class="red">⇒ </span> while $alive; do code(); done
					  </p>
					</section>
				  </div>
				<a href="#portfolio" class="btn">View Portfolio</a>
			</div>
			
		</section>
		<!-- About -->
		<div class="first-style-sec">
			
			<section id="about" class="about space-section">
		<main class="page-content">
					<div class="card">
					  <div class="content">
						<h2>About Me</h2>
						<p>Ayo is an AI engineering IT professional, Microsoft Azure Cloud certified, an Innovative Educator, 
							result oriented and currently engaged in the ICT industry. He possesses a strong ability to identify needs, 
							drive Innovation, build ideas and develop existing ones.<br> He is a highly competent individual who utilizes 
							well-developed technical and interpersonal skills that requires delivering value-added services in any dynamic and 
							pro-active organization. He is also skilled in Innovation Management, diverse 21st century programming languages, 
							Database design,Microsoft Visual studio Tools and Website Development.</p>
						
					  </div>
					</div>
					<div class="card">
						<div class="content">
						  <h2 class="title">Skills</h2>
						  <p class="copy">C#<br>
							Java<br>Python<br>HTML, CSS, JavaScript, bootstrap and other such frameworks<br>
							Wordpress<br>
							Natural Language Processing<br>Git, Adobe Photoshop, Adobe Illustrator
							 <br>I'm an ambient learner!</p>
						  
						</div>
					  </div>
				  </main>
			</section>
		</div>
		<!-- Portfolio -->
		<section id="portfolio" class="portfolio space-section container">
			<h2>Check out my &lt;<span class="slash">PROJECTS</span>/&gt;</h2>
			<!-- Tiles box for tablets and larger sreens -->
			<div class="tiles-box">
					<div class="item col-2-3">
						<a href="https://www.linkedin.com/in/sam-ayo" target="_blank">
							<img class="color" src="asset/thnk+.JPG" alt="project1">
							<img class="color-bw" src="asset/thnk+.JPG" alt="project1">
							<div class="descr">
								<h3>AI Powered Website</h3>
							</div>
						</a>
					</div><!--
					--><div class="item col-1-3">
							<a href="https://www.linkedin.com/in/sam-ayo" target="_blank">
								<img class="color" src="asset/log.JPG" alt="project2" style="width:15rem">
								<img class="color-bw" src="asset/log.JPG" alt="project2" style="width:18rem">
							<div class="descr">
								<h3>Login Form</h3>
						</div>
					</a>
				</div><!--
				--><div class="item col-2-3">
						<a href="https://www.linkedin.com/in/sam-ayo" target="_blank">
							<img class="color" src="asset/Ll-website-UI-01.png" alt="project3">
							<img class="color-bw" src="asset/Ll-website-UI-01.png" alt="project3">
						<div class="descr">
							<h3>E-commerce Site</h3>
						</div>
					</a>
					</div><!--
					--><div class="item col-1-3">
					<a href="https://www.linkedin.com/in/sam-ayo" target="_blank">
						<img class="color" src="asset/predic.JPG" alt="project4">
						<img class="color-bw" src="asset/predic.JPG" alt="project4">

						<div class="descr">
							<h3>Machine Learning Model</h3>
						</div>
					</a>
					</div>
			</div>
			<!-- Projects list for mobile screens -->
			<div class="mob-list-projects">
					<ul>
						<li class="list-color-1"><a href="" target="_blank"><h3>AI Website</h3></a></li>
						<li class="list-color-2"><a href="" target="_blank"><h3>E-commerce Site</h3></a></li>
						<li class="list-color-3"><a href="" target="_blank"><h3>Login Form</h3></a></li>
						<li class="list-color-4"><a href="" target="_blank"><h3>Sign Up form</h3></a></li>
					</ul>
			</div>
			<a href="">View more</a>
		</section>
		<!-- Get in touhc -->
		<div class="first-style-sec">
			<section id="contacts" class="contacts space-section container">
				<h2>Let's Connect</h2>
					<form class="" action="#" method="post">
						<fieldset>
							<input type="text" name="user-name" placeholder="Name"><!--
							--><input type="email" name="user-email" placeholder="Email">
							<textarea></textarea>
						</fieldset>
						<button class="btn">Send</button>
					</form><!--
					--><div class="social-col">
						<p>Do you have questions?<br>May be suggestions?<br>Just write me.<br>I will reply you.</p>
						<p><b><span class="slash">Connect</span> with me</b></p>
						<ul>
							<div class="br-icons"><li><a href="https://twitter.com/officialsamayo" target="_blank"><span class="icons fa fa-twitter"></span></a></li>
							<li><a href="https://www.linkedin.com/in/sam-ayo" target="_blank"><span class="icons fa fa-linkedin"></span></a></li>
							<li><a href="https://www.linkedin.com/in/sam-ayo" target="_blank"><span class="icons fa fa-codepen"></span></a></li><br class="br-icons"></div>
							<li><a href="https://www.linkedin.com/in/sam-ayo" target="_blank"><span class="icons fa fa-google"></span></a></li>
							<li><a href="https://github.com/Stosan" target="_blank"><span class="icons fa fa-git"></span></a></li>
						</ul>
					</div>
			</section>
		</div>
	</main>
			
			
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
  <script  src="./js/script.js"></script>
  <script  src="./js/wrt.js"></script>
</body>
</html>
