<%- include('./partials/header'); -%>

<link rel="stylesheet" href="./css/ind.css">
<link rel="stylesheet" href="./css/wrt.css">
</head>
<!-- your HTML code --> 

<body>

	<%- include('./partials/nav'); -%>
	<!-- Main -->
	<main role="main">
		<!-- Banner -->
		<section class="banner container" style="width:100vw">
			<div class="photo-banner" class="mv" style="animation: slideInLeft;
			animation-duration: 2s;">
				<img src="https://pbs.twimg.com/profile_images/1305789788491046912/ldUwvDPZ_400x400.jpg" alt="Sam Ayo" style="border-radius: 55px;">
			</div>
			<div class="descr-banner">
				<h1 class="mv" style="animation: slideInRight;
				animation-duration: 3s;">Web Developer <span class="slash">|</span> AI Engineer</h1>
				<p>Evolving AI Engineer. Software engineer.<br>Innovator .STEM Educator.</p>
				<div class="conty come-in">
			 
					<section class="container">
					  
					  <p class="prompt">
						<span class="green">$ ProjectLife</span>
						<span class="yellow">(Venv)</span>
						<span class="red">⇒ </span> while $alive; Innovate();
					  </p>
					</section>
				  </div>
				<a href="/project" class="btn">See my works</a>
			</div>
			
		</section>
		<!-- About -->
		<div class="first-style-sec">
			
			<section id="about" class="about space-section">
		<main class="page-content">
					<div class="card frard">
					  <div class="content">
						  <div class="header_sect">
						<hr class="header_line">
						<h2> Hello!</h2></div>
						<p class="">Ayo is an AI engineering IT professional, Microsoft Azure Cloud certified, an Innovative Educator, 
							result oriented and currently engaged in the ICT industry. He possesses a strong ability to identify needs, 
							drive Innovation, build ideas and develop existing ones.</p><p></p>
							<p>He is a highly competent individual who utilizes 
							well-developed technical and interpersonal skills that requires delivering value-added services in any dynamic and 
							pro-active organization. He is also skilled in Innovation Management, diverse 21st century programming languages, 
							Database design,Microsoft Visual studio Tools and Website Development.</p>

							<br><p style="font-weight:900">I'm an ambient learner!</p>
						
					  </div>
					</div>
					<div class="card scard" style="">
						<div class="content">
							<div class="header_sect">
								<hr class="header_line">
								<h2> Skills</h2></div>
						  <style>
							   .image--round {
   
    border-radius: 100%;
    height: 100px;width: 100px;
  }

.of-c {
  object-fit: cover;
}
.prowess{

}
						  </style>
						 <img class="image  image--round  of-c" src="https://www.dataoptimal.com/wp-content/uploads/python-programming-for-beginners-2019-1024x574.jpg"> 
						 <img class="image  image--round  of-c" src="https://www.avenga.com/wp-content/uploads/2020/11/C-Sharp.png"> 
						 <img class="image  image--round  of-c" src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/25/2020/04/J.png"> 
						 <img class="image  image--round  of-c" src="https://www.tel.computerservice.ie/wp-content/uploads/2020/04/1417589451_html-256.png"> 
						 <img class="image  image--round  of-c" src="https://miro.medium.com/max/3200/1*xdo0UBpyszvD7-7EH4TkIA.png"> 
						 <img class="image  image--round  of-c" src="https://pbs.twimg.com/media/D1Y9xiNU0AAXez4.png"> 
						 <img class="image  image--round  of-c" src="https://djangostars.com/blog/uploads/2019/04/cover-17.png"> 
						 
						 
						 <br><hr>
						 <p class="prowess">
						Through real world projects, I have demonstrated proficiency in these languages.</p>							 		 
						</div>
					  </div>
				  </main>
			</section>
		</div>
		<!-- Portfolio -->
		<section id="portfolio" class="portfolio space-section container">
			<div style="text-align: left;">
			<h2>&#8212;Featured  <span class="slash">PROJECTS</span>&#8212;</h2></div>
			<br>
			<!-- Tiles box for tablets and larger sreens -->
			<div class="tiles-box"><div class="row">
					<div class="item col-2-4">
						<a href="https://www.linkedin.com/in/sam-ayo" target="_blank">
							<img class="color" src="asset/thnk+.JPG" alt="project1">
							<img class="color-bw" src="asset/thnk+.JPG" alt="project1">
							<div class="descr">
								<h3>AI Powered Website</h3>
							</div>
						</a>
					</div></div>
					<div class="item col-6">
							<a href="https://www.linkedin.com/in/sam-ayo" target="_blank">
								<img class="color" src="asset/log.JPG" alt="project2">
								<img class="color-bw" src="asset/log.JPG" alt="project2" style="width:18rem">
							<div class="descr">
								<h3>Login Form</h3>
						</div>
					</a>
				</div>
					<div class="item col-7">
					<a href="https://www.linkedin.com/in/sam-ayo" target="_blank">
						<img class="color" src="asset/predic.JPG" alt="project4">
						<img class="color-bw" src="asset/predic.JPG" alt="project4">

						<div class="descr">
							<h3>Machine Learning Model</h3>
						</div>
					</a>
					</div>
			</div>
			<!-- Projects list for mobile screens -->
			<div class="mob-list-projects">
					<ul>
						<li class="list-color-1"><a href="" target="_blank"><h3>AI Website</h3></a></li>
						<li class="list-color-2"><a href="" target="_blank"><h3>E-commerce Site</h3></a></li>
						<li class="list-color-3"><a href="" target="_blank"><h3>Login Form</h3></a></li>
						<li class="list-color-4"><a href="" target="_blank"><h3>Sign Up form</h3></a></li>
					</ul>
			</div>
			<a href="/project">View more</a>
		</section>
		
<%- include('./partials/cv'); -%>
		<!-- Get in touhcH -->
	

<%- include('./partials/footer'); -%>
	</main>
			
			
  <script  src="./js/wrt.js"></script>
</body>
</html>
